h1 {
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px #0000FF, -2px -2px 5px red;
}

p {
    font-size: 25px;
    font-family: 'Trebuchet MS', sans-serif;
    quotes: '\00AB' '\00BB' '\201E' '\201C';
    display: flex;
}



li {
    list-style-type: decimal;
    list-style-position: outside;
}

a~span {
    background-color: red;
}

/* input:not([disabled]):not(.example){
   background-color: greenyellow;
} */

input:not([disabled], .example) {
    background-color: greenyellow;
}

form:focus-within {
    background-color: blue;
}

input:focus {
    background-color: brown;
}

input:in-range {
    background-color: blue;
}

input:out-of-range {
    background-color: red;
}

#sidebarShown:checked~#container #sidebar {
    margin-left: 300px;
}

#darkThemeUsed:checked~#container,
#darkThemeUsed:checked~#footer {
    background: #333;
}

label {
    user-select: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    /* Remove default styles */
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, #007bff 0%, #ddd 0%);
    outline: none;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
    /* Align thumb with track */
    outline: 2px solid white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: background 0.3s;
}

/* Hover effect */
input[type="range"]::-webkit-slider-thumb:hover {
    background: #0056b3;
}

.gradient {
    width: 400px;
    border: 1px solid black;
    color: transparent;
    font-size: 10rem;
    text-align: center;
    padding-block: 1rem;
    font-weight: 900;
    /* background-image: linear-gradient(91deg, red, orange, yellow); */
    /* background-image: radial-gradient(circle farthest-corner at top left, red 50%, blue 50%); */
    /* background-image: repeating-radial-gradient(red, red 10%, white 10%, white 20%); */
    background: repeating-linear-gradient(-45deg, yellow, yellow 10%, black 10%, black 20% );
    background-clip: text;
}
